@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: black
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .smoothed {
    @apply
    transition-all ease-in-out duration-500
  }

  .page-container{
    @apply
    flex flex-col w-full h-full min-h-fit mx-auto items-center justify-center md:w-5/6 lg:w-4/6 max-w-[1220px]
  }

  .aid{
    @apply
    border border-red-500
  }

  .blob {
    @apply
    h-72 w-72 bg-gradient-to-r from-[#98E485] to-[#42E8AC] absolute rounded-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 animate-rotate z-10
  }

  .blur {
    @apply
    w-screen h-screen absolute z-20 backdrop-blur-[200px]
  }

  .letterContainer{
    @apply
    text-white border 
    /* [&>span:nth-child(n)]:hover:animate-hover */

    [&>span:nth-child(1)]:hover:-translate-x-1/2
    [&>span:nth-child(1)]:hover:translate-y-1/4
    [&>span:nth-child(1)]:hover:rotate-12

    [&>span:nth-child(2)]:hover:-translate-y-2/4
    [&>span:nth-child(2)]:hover:-rotate-12

    [&>span:nth-child(3)]:hover:translate-y-1/4
    [&>span:nth-child(3)]:hover:rotate-12

    [&>span:nth-child(4)]:hover:-translate-y-1/4
    [&>span:nth-child(4)]:hover:-rotate-12

    [&>span:nth-child(5)]:hover:translate-y-1/4
    [&>span:nth-child(5)]:hover:rotate-12

    [&>span:nth-child(6)]:hover:-translate-y-1/4
    [&>span:nth-child(6)]:hover:-rotate-12

    [&>span:nth-child(7)]:hover:translate-y-1/4
    [&>span:nth-child(7)]:hover:rotate-12

    [&>span:nth-child(8)]:hover:-translate-y-1/4
    [&>span:nth-child(8)]:hover:-rotate-12

    [&>span:nth-child(9)]:hover:translate-y-1/4
    [&>span:nth-child(9)]:hover:rotate-12

    [&>span:nth-child(10)]:hover:-translate-x-3/4
    [&>span:nth-child(10)]:hover:-translate-y-1/4
    [&>span:nth-child(10)]:hover:-rotate-12
  }

  .letter{
    @apply
    font-bold text-6xl inline-block smoothed aid transform
  }
  
}
