@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: black
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .smoothed {
    @apply
    transition-all ease-in-out duration-500
  }

  .page-container{
    @apply
    flex flex-col w-full h-full min-h-fit mx-auto items-center justify-center md:w-5/6 lg:w-4/6 max-w-[1220px]
  }

  .aid{
    @apply
    border border-red-500
  }

  .blob {
    @apply
    h-72 w-72 bg-gradient-to-r from-[#98E485] to-[#42E8AC] absolute rounded-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 animate-rotate z-10
  }

  .blur {
    @apply
    w-screen h-screen absolute z-20 backdrop-blur-[200px]
  }

  .headerContainer span{
    @apply
    inline-block
  }

  .headerContainer > .outer {
    @apply
    transform duration-300 ease-in-out
  }

  .headerContainer:hover > .outer{
    @apply
    duration-500
  }

  .headerContainer:hover > .outer > .inner{
    @apply
    animate-hover
  }

  .headerContainer:hover > .outer > .inner > .letter{
    @apply
    text-8xl bg-gradient-to-r bg-clip-text text-transparent from-[#98E485] to-[#42E8AC] animate-tile
  }

  .letter{
    @apply
    font-bold text-8xl inline-block transform text-white
  }

  .headerContainer:hover > .outer:nth-child(1){
    @apply
    -translate-x-3/4 translate-y-1/2 rotate-6 
  }

  .headerContainer:hover > .outer:nth-child(2){
    @apply
    -translate-x-[40%] translate-y-[20%] rotate-3
  }

  .headerContainer:hover > .outer:nth-child(3){
    @apply
    -translate-x-[10%] translate-y-[60%] -rotate-6
  }

  .headerContainer:hover > .outer:nth-child(4){
    @apply
    -translate-x-[0%] translate-y-[8%] -rotate-[8deg] 
  }

  .headerContainer:hover > .outer:nth-child(5){
    @apply
    -translate-x-[0%] -translate-y-[20%] rotate-[5deg]  
  }

  .headerContainer:hover > .outer:nth-child(6){
    @apply
    -translate-x-[0%] translate-y-[20%] -rotate-[3deg]  
  }

  .headerContainer:hover > .outer:nth-child(7){
    @apply
    -translate-x-[0%] -translate-y-[40%] -rotate-[5deg]  
  }

  .headerContainer:hover > .outer:nth-child(8){
    @apply
    -translate-x-[0%] translate-y-[15%] rotate-[10deg]  
  }

  .headerContainer:hover > .outer:nth-child(9){
    @apply
    -translate-x-[0%] -translate-y-[50%] rotate-[8deg]  
  }

  .headerContainer:hover > .outer:nth-child(10){
    @apply
    -translate-x-[0%] translate-y-[15%] -rotate-[6deg]  
  }
  
}
