@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar-icon {
        @apply relative flex items-center justify-center
        h-12 sm:h-6 md:h-8 lg:h-24 
        w-12 sm:w-6 md:w-8 lg:w-24
        my-1 mx-auto shadow-lg
        bg-gray-800 text-green-400 
        hover:bg-green-600 hover:text-white
        rounded-3xl hover:rounded-xl
        transition-all duration-300 ease-linear
        cursor-pointer;
    }

    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        text-white bg-gray-900
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-search  {
        @apply flex justify-center
        w-full h-14
        border-b border-gray-800 shadow-lg;
    }

    .sidebar-searchDialog {
        @apply bg-gray-900 text-gray-500
        border-solid border-gray-900 border rounded-md 
        placeholder:italic placeholder:text-sm
        w-5/6 mx-auto my-auto p-2;
    }

    .sidebar-sidenav {
        @apply
        overflow-hidden flex flex-col h-24 justify-start
        my-1;
    }

    .sidenav-button {
        @apply 
        h-1/2 flex text-gray-400 text-base font-medium
        rounded-md p-3 items-center ml-3 mr-3 
        hover:bg-gray-500 hover:text-white
        transition-all duration-100 ease-linear;
    }

    .sidebar-dms {
        @apply
        flex flex-col justify-start
        my-1 ml-3 mr-3 p-3
        text-gray-400 text-base;
    }

    .dms-title {
        @apply 
        flex items-center mb-4
        font-medium text-xs hover:text-white
        transition-all duration-100 ease-linear;
    }

    .dms-chats {
        @apply
        flex flex-col
    }

    .chaticon {
        @apply
        flex
        rounded-md p-3 items-center
        hover:bg-gray-500 hover:text-white
        transition-all duration-100 ease-linear;
    }

    .chaticon-x {
        @apply
        float-right scale-0 
        text-gray-400 hover:text-white cursor-pointer;
    }
}